
.statusBars {
    align-content: center;
}
.project { /* project style*/
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.projectName {
    font-size: medium;
    color: #66727F;
    font-weight: bold;
}
.debug2 { /* project style*/
    /*background-color: #85ea0d;*/
    /*align-content: center;*/
}


.availableVLine {
    background-color: #4CAF50;
    border-color: #45b507;
    height: 35px;
    width: 3px;
    margin-right: 3px;
    padding: 2px;

}
.partiallyUnavailableVLine {
    background-color: #fca119;
    border-color: #eea920;
    height: 35px;
    width: 3px;
    margin-right: 3px;
    padding: 2px;

}
.unavailableVLine {
    background-color: #fc1919;
    border-color: #ee3820;
    height: 35px;
    width: 3px;
    margin-right: 3px;
    padding: 2px;
}

.hrSect {
    display: flex;
    flex-basis: 100%;
    height: 70%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hrSect:before,
.hrSect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}
.informativeText {
    color: darkgray;

}
